# Ignore node_modules folder
node_modules/

# Ignore all .log files
*.log

# Ignore temporary files
*.tmp

# Ignore all files in the "build" directory
build/

# Ignore .env file for secrets
.env

# Don't ignore a specific file in a folder
!build/keep-this-file.txt
node_modules
